<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doan">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B1910127_TranVanPhuc"
        tools:targetApi="31">
        <activity
            android:name=".giaodien.ChamCong"
            android:exported="false" />
        <activity
            android:name=".giaodien.ChinhSuaNhanVien"
            android:exported="false" />
        <activity
            android:name=".giaodien.ThemNhanVien"
            android:exported="false" />
        <activity
            android:name=".giaodien.ThongTinNhanVien"
            android:exported="false" />
        <activity
            android:name=".giaodien.QuanLyNhanVien"
            android:exported="false" />
        <activity
            android:name=".giaodien.ChinhSuaCongViec"
            android:exported="false" />
        <activity
            android:name=".giaodien.ThemCongViec"
            android:exported="false" />
        <activity
            android:name=".giaodien.QuanLyCongViec"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>